# flyctl launch added from .gitignore
**\venv
**\__pycache__
**\*.pyc
**\*.pyo
**\.DS_Store
**\.env
**\.vercel

# flyctl launch added from .idea\.gitignore
# Default ignored files
.idea\shelf
.idea\workspace.xml
# Editor-based HTTP Client requests
.idea\httpRequests
# Datasource local storage ignored files
.idea\dataSources
.idea\dataSources.local.xml

# flyctl launch added from templates\.gitignore
templates\**\.vercel
fly.toml
