# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.env.local
.env.*
.venv
venv/
ENV/

# Packaging
build/
dist/
.eggs/
*.egg-info/

# Logs and caches
*.log
.cache/
.pytest_cache/

# Editors and OS
.DS_Store
.vscode/
.idea/
.vercel
